@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-gray-dark: #5C5C5C;
  --color-gray: #9D9D9D;
  --color-gray-light: #D3D3D3;
  --color-gray-border: #F2F2F2;
  --color-green: hsl(87, 59%, 59%);
  --color-green-hover: hsl(87, 59%, 66%);
  --color-blue-light: #E7F6FF;
  --color-red: #FF8585;
  --color-pink: #FEF0F0;
  --border: 0.0625rem solid var(--color-gray-border);
  --font-family: "Inter", sans-serif;
  --transition-duration: .2s;
}

.container {
  padding-inline: clamp(1rem, 0.1136363636rem + 3.6363636364vw, 3.75rem);
}

.cols-1 {
  grid-template-columns: repeat(1, auto);
  justify-content: start;
}

.cols-2 {
  grid-template-columns: repeat(2, auto);
  justify-content: start;
}

.cols-3 {
  grid-template-columns: repeat(3, auto);
  justify-content: start;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  background-color: white;
}
html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  padding-inline: 1rem;
  font-family: var(--font-family);
  font-size: 0.875rem;
  color: var(--color-gray-dark);
  background-color: var(--color-blue-light);
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block: clamp(1rem, -0.3899793388rem + 5.7024793388vw, 5.3125rem);
  max-width: 67.5rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
}
#root main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  color: var(--color-dark);
  font-weight: 700;
  margin: 0;
}

h1, .h1,
h2, .h2 {
  margin-bottom: 1.875rem;
}

h1, .h1 {
  font-size: clamp(1.25rem, 1.0082644628rem + 0.9917355372vw, 2rem);
}

h2, .h2 {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
}

h3, .h3 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  margin-bottom: 0.625rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.button {
  padding: 1.125rem 0.625rem;
  width: 100%;
  font-weight: 600;
  color: var(--color-light);
  background-color: var(--color-green);
  border: none;
  border-radius: 1.125rem;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-green-hover);
    transform: scale(1.01);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-green-hover);
    transform: scale(1.01);
  }
}
.button:active {
  background-color: var(--color-green);
  transform: scale(1);
}
.button--alert {
  max-width: 15.3125rem;
}

.square-button {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  background-color: transparent;
  border: var(--border);
  border-radius: 0.5rem;
  position: relative;
  transition-duration: var(--transition-duration);
}
.square-button:active {
  transform: scale(0.8);
}
.square-button--add, .square-button--remove {
  color: var(--color-gray-light);
}
.square-button--add::before, .square-button--add::after, .square-button--remove::before, .square-button--remove::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  background-color: currentColor;
  height: 0.125rem;
  width: 35%;
  border-radius: 0.125rem;
}
@media (any-hover: hover) {
  .square-button--add:hover, .square-button--remove:hover {
    color: var(--color-gray-dark);
    border-color: var(--color-gray);
  }
}
@media (any-hover: none) {
  .square-button--add:active, .square-button--remove:active {
    color: var(--color-gray-dark);
    border-color: var(--color-gray);
  }
}
.square-button--add::after {
  transform: rotate(90deg);
}
.square-button--added {
  color: var(--color-light);
  background: linear-gradient(#89F09C, #3CC755);
}
.square-button--remove::before {
  transform: rotate(45deg);
}
.square-button--remove::after {
  transform: rotate(130deg);
}
.square-button--like, .square-button--liked {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-light);
}
.square-button--liked {
  background-color: var(--color-pink);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: clamp(1.25rem, 0.7665289256rem + 1.9834710744vw, 2.75rem);
  margin-bottom: 2.5rem;
  border-bottom: var(--border);
}
.header__nav-list {
  display: flex;
  -moz-column-gap: clamp(0.9375rem, 0.5950413223rem + 1.4049586777vw, 2rem);
       column-gap: clamp(0.9375rem, 0.5950413223rem + 1.4049586777vw, 2rem);
}
.header__nav-item:first-child {
  font-weight: 600;
}
.header__nav-button, .header__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5625rem;
       column-gap: 0.5625rem;
  padding-block: 0.625rem;
}
@media (width <= 47.99875rem) {
  .header__nav-button, .header__nav-link {
    padding: 0.625rem;
  }
}
.header__nav-button {
  padding-inline: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

.logo {
  display: flex;
  -moz-column-gap: clamp(0.5rem, 0.3388429752rem + 0.6611570248vw, 1rem);
       column-gap: clamp(0.5rem, 0.3388429752rem + 0.6611570248vw, 1rem);
}
.logo__info-title {
  margin: 0;
}
.logo__info-subtitle {
  color: #9D9D9D;
}
@media (width <= 30.06125rem) {
  .logo__info {
    display: none;
  }
}

.sneakers {
  padding-bottom: clamp(1rem, 0.1136363636rem + 3.6363636364vw, 3.75rem);
}
.sneakers__heading {
  margin: 0;
}
.sneakers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}
.sneakers__header-search {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(0.4375rem, 0.3005165289rem + 0.5619834711vw, 0.8625rem);
       column-gap: clamp(0.4375rem, 0.3005165289rem + 0.5619834711vw, 0.8625rem);
  padding: clamp(0.3125rem, 0.1916322314rem + 0.4958677686vw, 0.6875rem) clamp(0.625rem, 0.5242768595rem + 0.4132231405vw, 0.9375rem);
  max-width: clamp(9.375rem, 7.3605371901rem + 8.2644628099vw, 15.625rem);
  border: var(--border);
  border-radius: 0.625rem;
}
.sneakers__header-search-icon {
  width: 0.875rem;
  height: 0.875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sneakers__header-search-input {
  padding: 0;
  max-width: 82%;
  border: none;
}
.sneakers__header-search-input::-moz-placeholder {
  color: var(--color-gray-light);
}
.sneakers__header-search-input::placeholder {
  color: var(--color-gray-light);
}
.sneakers__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: clamp(0.625rem, 0.020661157rem + 2.479338843vw, 2.5rem);
}
@media (width <= 63.99875rem) {
  .sneakers__list {
    grid-template-columns: repeat(3, auto);
  }
}
@media (width <= 47.99875rem) {
  .sneakers__list {
    grid-template-columns: repeat(2, auto);
  }
}

.sneaker-card {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3791322314rem + 0.4958677686vw, 0.875rem);
  padding-inline: clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem);
  padding-block: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem) clamp(1.25rem, 0.9478305785rem + 1.2396694215vw, 2.1875rem);
  max-width: 18.75rem;
  color: var(--color-dark);
  border: var(--border);
  border-radius: clamp(1.25rem, 0.847107438rem + 1.652892562vw, 2.5rem);
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .sneaker-card:hover {
    box-shadow: 0 clamp(0.4375rem, 0.2964876033rem + 0.5785123967vw, 0.875rem) clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem) rgba(0, 0, 0, 0.05);
    transform: translateY(clamp(-0.4375rem, -0.2964876033rem + -0.5785123967vw, -0.875rem));
  }
}
@media (any-hover: none) {
  .sneaker-card:active {
    box-shadow: 0 clamp(0.4375rem, 0.2964876033rem + 0.5785123967vw, 0.875rem) clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem) rgba(0, 0, 0, 0.05);
    transform: translateY(clamp(-0.4375rem, -0.2964876033rem + -0.5785123967vw, -0.875rem));
  }
}
@media (width <= 63.99875rem) and (any-hover: hover) {
  .sneaker-card:hover {
    box-shadow: none;
    transform: none;
  }
}
@media (width <= 63.99875rem) and (any-hover: none) {
  .sneaker-card:active {
    box-shadow: none;
    transform: none;
  }
}
.sneaker-card__fav-button {
  position: absolute;
}
.sneaker-card__img {
  align-self: center;
}
.sneaker-card__title {
  flex-grow: 1;
  line-height: 1.2;
}
.sneaker-card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sneaker-card__info {
  display: flex;
  flex-direction: column;
}
.sneaker-card__info-label {
  font-size: 0.75rem;
  color: var(--color-gray-light);
}

.cart-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
}
.cart-overlay__content {
  position: absolute;
  right: 0;
  padding: 1.875rem;
  height: 100%;
  max-width: 25rem;
  width: 100%;
  background-color: var(--color-light);
  box-shadow: -0.625rem 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
}
.cart-overlay.is-active {
  display: block;
}

.cart {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
}
.cart__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-bottom: 0.9375rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.cart--empty {
  color: var(--color-gray);
}
.cart--empty .cart__alert {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 16.5625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cart--empty .cart__alert-img {
  margin-bottom: 20px;
}
.cart--empty .cart__alert-description {
  margin-bottom: 2.5rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 1.25rem;
  border: var(--border);
  border-radius: 1.25rem;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  max-width: 9.375rem;
}
.cart-item__info-price {
  font-weight: bold;
}
.cart-item__button {
  align-self: end;
}

.summary {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.summary__item {
  display: flex;
  align-items: end;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  line-height: 1;
}
.summary__separator {
  flex-grow: 1;
  border-bottom: 0.0625rem dashed var(--color-gray-light);
  transform: translateY(-0.125rem);
}
.summary__value {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */